* {
    box-sizing: border-box;
    font-family: sans-serif;
}

form {
    width: 75%;
}

li {
    margin-bottom: 15px;
}

input {
    margin: 5px;
}

textarea, select, input {
    margin-top: 10px;
}

select, textarea {
    font-size: 12pt;
    padding: 5px;
}

#submit {
    font-size: 30pt;
}