#container2 {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffe5ff;
    width: 85%;
    height: 1000px;
    padding: 10px;
    overflow: auto;
}

h2 {
    margin: 0;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    font-size: 28pt;
}

#filter {
    padding: 15px;
    color: black;
    font-size: 15pt;
    margin: 0;
    float: right;
}

#menu {
    margin-left: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 125px;
    height: 35px;
    background-color: #660066;
    position: relative;
    display: inline-block;
    float: right;
    box-shadow: 5px 5px 5px grey;
}

#menu p {
    margin-top: 0;
    font-size: 16pt;
    color: white;
}

#menu:hover {
    cursor: pointer;
    background-color: #330033;
}

#menu ul {
    position: absolute;
    top: 35px;
    left: 0;
    display: none;
    box-shadow: 5px 5px 5px grey;
}

#menu ul li {
    display: block;
    list-style-type: none;
    background-color: #ffb2ff;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 14pt;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    color: #330033;
}

#menu ul a {
    text-decoration: none;
}

#menu ul li:hover {
    background-color: #4c004c;
    color: white;
}

#menu ul li:last-of-type {
    border:none;
}

#menu:hover ul {
    display: block;
}

#gallery {
    width: 20%;
    float: left;
    margin-left: 10px;
}

#gallery .thumbnail {
    width: 45%;
    height: auto;
    box-shadow: 5px 5px 10px grey;
    margin-bottom: 10px;
}

#gallery ul {
    list-style-type: none;
    background-color: #ffe5ff;
    text-align: left;
}

#gallery li {
    display: inline;
    padding: 5px;
}

#gallery img {
    border: none;
    padding: 5px;
}

.label {
    width: 75%;
    height: 65%;
    background-color: white;
    box-shadow: 10px 10px 10px grey;
    float: right;
    margin-right: 15px;
    padding: 15px;
}

.label img {
    height: 100%;
    width: auto;
    float: left;
    margin-right: 15px;
}

.label span {
    color: black;
}

@media screen and (max-width: 60em) {
    
    #leftcolumn {
        width: 100%;
        height: 10%;
        font-size: 16pt;
        text-align: center;
    }
    
    #filter {
        display: none;
    }
    
    #menu {
        width: 100%;
    }
    
    #menu ul {
        width: 100%;
    }
    
    #menu ul li {
        text-align: center;
        font-size: 16pt;
    }
    
    #gallery {
        padding-right: 15px;
        width: 25%;
    }
    

    #gallery .thumbnail {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    
    .label {
        width: 65%;
        height: auto;
        display: block;
    }
    
    .label img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    
}