#container2 {
    overflow: auto;
}

#contact {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#leftcolumn {
    margin: 0;
    padding-top: 10px;
    padding-right: 10px;
    width: 30%;
    height: 100%;
    float: left;
    background-color: #ffe5ff;
}

#leftcolumn img {
    width: 100%;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
}

#rightcolumn {
    padding-top: 5px;
    padding-left: 10px;
    height: auto;
    width: 70%;
    float: right;
    background-color: #ffe5ff;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24pt;
}

form {
    width: 100%;
    background-color: #330033;
    padding: 10px;
    font-size: 14pt;
    border-style: solid;
    border-width: 1px;
    border-color: #330033;
    border-radius: 15px;
    box-shadow: 8px 8px 10px grey;
}

label, input, textarea {
    padding: 5px;
    font-size: 14pt;
    margin: 5px;
}

input {
    width: 50%;
}

textarea {
    width: 75%;
}

label {
    width: 20%;
    float: left;
    clear: both;
    text-align: right;
    color: white;
}

input:nth-of-type(3) {
    width: auto;
    margin-bottom: 5px;
}

#submit {
    margin-top: 10px;
    background-color: #7f007f;
    border-radius: 5px;
    color: white;
    padding: 10px;
    border: none;
}

#submit:hover {
    background-color: #660066;
    color: white;
    position: relative;
    left: 3px;
    top: 3px;
    cursor: pointer;
}

@media screen and (max-width: 60em) {
    
    #leftcolumn {
        float: none;
        border: none;
        width: 100%;
    }
    
    #rightcolumn {
        float: none;
        width: 100%;
        height: auto;
        padding: 0;
    }
    
    form {
        width: 100%;
        padding-left: 0;
    }
    
    label {
        width: 100%;
        text-align: left;
    }
    
    input, textarea {
        width: 100%;
    }
    
    #submit {
        width: 100%;
        padding-left: 5px;
        font-size: 13pt;
    }

}