h2 {
    margin: 0;
    padding-bottom: 5px;
}

#cover {
    width: 20%;
    float: left;
    margin-right: 20px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 0;
}

#description {
    padding-right: 15px;
}

#details {
    font-style: italic;
}

a {
    text-decoration: none;
}

#gallery {
    position: absolute;
    left: 35%;
    width: 325px;
}

figure {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
}

#gallery .thumbnail {
    height: 25%;
    width: 75px;
    box-shadow: 5px 5px 10px grey;
}

#gallery ul {
    width: 400px;
    list-style-type: none;
}

#gallery li {
    display: inline-block;
    float: left;
    padding-top: 5px;
    padding-right: 5px;
}

#gallery img {
    border: none;
}

#gallery .fullsize {
    width: 275px;
    height: auto;
}

#gallery span {
    position: absolute;
    left: -1000px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#gallery a:hover span {
    position: absolute;
    top: -300px;
    left: -285px;
    text-align: center;
    opacity: 1;
    background-color: #4c004c;
    width: 275px;
    height: auto;
}

#gallery p {
    font-size: 10pt;
    color: white;
    padding: 2px;
}

.clear {
    clear: both;
}

#reviews {
    clear: both;
    margin-top: 15px;
}

#reviews p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: italic;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #330033;
}

#reviews p:last-of-type {
    border: none;
}

@media screen and (max-width: 60em) {
    
    #container2 {
        padding: 20px;
    }
    
    #cover {
        margin-left: 0;
        margin-bottom: 20px;
        width: 50%;
        float: left;
    }
    
    #peek {
        display: none;
    }
    
    #gallery {
        display: none;
    }
    
    
    #description, #reviews {
        font-size: 14pt;
    }
    
    #description, #details {
        padding-left: 15px;
    }
    
}