#container2 {
    overflow: hidden;
}

.page {
    height: 300px;
    width: 100%;
    background-size: cover;
    display: none;
}

#page1 {
    background-image: url("Pager/dragoneye.jpg");
}

#page2 {
    background-image: url("Pager/rooster.jpg");
}

#page3 {
    background-image: url("Pager/group.jpg");
}

input[type="radio"]:checked + .page {
    display: block;
}

#controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
}

input {
    display: none;
}

#show1:checked ~ #controls label:nth-child(1), #show2:checked ~ #controls label:nth-child(2), #show3:checked ~ #controls label:nth-child(3) {
    color: darkslategrey;
}

label {
    font-size: 30px;
    color: black;
    cursor: pointer;
}

#quote {
    text-align: center;
    font-size: 20pt;
    padding: 20px;
    margin-bottom: 0;
    text-shadow: 5px 5px 5px grey;
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 24pt;
}

#duddeck {
    width: 35%;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 15px;
    float: left;
    box-shadow: -8px 8px 8px grey;
}

#floral {
    float: right;
    width: 28%;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    box-shadow: 8px 8px 8px grey;
}

#events {
    width: 55%;
    float: left;
}

#events #header {
    width: 100%;
    margin-top: 10px;
}

#events p {
    margin-bottom: 5px;
}

#events #calendar {
    width: 25%;
    background-color: #4c004c;
    margin-top: 10px;
    margin-right: 15px;
    font-size: 28pt;
    text-align: center;
    float: left;
    color: white;
    border-radius: 10px;
}

#events #calendar p {
    margin: 0;
    padding: 10px;
}

#events #event {
    font-size: 14pt;
}

#events #challenge {
    clear: both;
    margin-top: 30px;
}

#facebook {
    float: right;
}

@media screen and (max-width: 60em) {
    
    #container2 {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .page {
        display: none;
        width: 0;
        height: 0;
    }
    
    label {
        display: none;
    }
    
    #quote {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    
    h2 {
        margin: 0;
        padding: 0;
        font-size: 27pt;
    }
    
    .header {
        padding-top: 15px;
    }
    
    #duddeck {
        width: 100%;
        float: none;
        margin-top: 15px;
        margin-left: 0;
    }
    
    #floral {
        float: right;
        width: 45%;
        margin-left: 20px;
        margin-right: 15px;
    }
    
    p {
        padding: 0;
        font-size: 14pt;
    }
    
    p:first-of-type {
        
    }
    
    #events {
        float: none;
        width: 100%;
        margin-bottom: 15px;
    }
    
    #events #calendar {
        float: none;
        width: 100%;
        margin-left: 0;
    }
    
    #events #calendar p{
        font-size: 24pt;
    }
    
    #events #event {
        float: none;
        width: 100%;
    }
    
    #facebook {
        width: 100%;
    }

}