* {
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style: none;
    background-color: darkblue;
}

nav ul li:first-of-type {
    border-left: none;
    
}

nav ul li {
    display: inline-block;
    font-size: 15pt;
    border-left-color: white;
    border-left-width: 1px;
    border-left-style: solid;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#menu {
    width: 100px;
    height: 25px;
    background-color: blue;
    position: relative;
    display: inline-block;
}

#menu:hover {
    cursor: pointer;
    background-color: gray;
}

#menu ul {
    position: absolute;
    top: 10px;
    padding: 0;
}

#menu ul li {
    display: block;
    list-style-type: none;
    background-color: aqua;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#menu ul li:hover {
    background-color: black;
}

#menu:hover ul {
    display: block;
}

.poetry {
    width: 50%;
    padding-left: 20px;
}