.upcontainer .enlargedillustrations {
    width: 30%;
    padding: 10px;
}

.enlargedillustrations.right, .enlargedillustrations.left {
    margin-bottom: 15px;
}

.enlargedillustrations.right {
    float: right;
    margin-left: 20px;
    box-shadow: 8px 8px 8px grey;
}

.enlargedillustrations.left {
    float: left;
    margin-right: 20px;
    box-shadow: -8px 8px 8px grey;
}

#readless {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 19.5px;
    font-weight: bold;
    color: #4c004c;
    background-color: #ffe5ff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#readless:hover {
    background-color: #4c004c;
    color: white;
}

.illustrations {
    height: 100px;
}

hr:nth-of-type(2) {
    display: none;
}

@media screen and (max-width: 60em) {
    .upcontainer .enlargedillustrations {
        width: 100%;
    }
    
    #right, #left {
        float: none;
        margin: 0;
    }
}