#header {
    width: 100%;
}

#info {
    text-align: left;
    background-color: #ffe5ff;
    display: inline;
}

p:first-of-type {
    font-size: 20.5pt;
}

p:last-of-type {
    font-size: 16pt;
}

#CESF {
    width: 25%;
}

.right {
    float: right;
    width: 30%;
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 8pt 8pt 8pt grey;
}

.left {
    float: left;
    width: 30%;
    margin-right: 15px;
    margin-bottom: 15px;
    box-shadow: -8pt 8pt 8pt grey;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

hr:nth-of-type(2) {
    clear: both;
}

@media screen and (max-width: 60em) {
    #header {
        width: 100%;
        margin: 0;
    }
    
    #CESF {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .right, .left {
        float: none;
        width: 100%;
        margin: 0 0 10px 0;
    }
}