h2 {
    margin: 10px 0 10px 0;
}

#cover {
    width: 20%;
    float: left;
    margin: 0 20px 15px 0;
    box-shadow: 5px 5px 10px grey;
    border-radius: 0;
}

#description {
    padding-right: 15px;
}

#details {
    font-style: italic;
}

#purchase {
    display: inline-block;
    background-color: #660066;
    border-radius: 25px;
    box-shadow: 5px 5px 5px grey;
}

#purchase:hover {
    background-color: #660066;
    color: white;
    position: relative;
    left: 3px;
    top: 3px;
    cursor: pointer; 
}

#purchase a:hover {
    color: #ffccff;
}

#purchase p {
    margin: 0;
    padding: 15px 0 15px 0;
    font-size: 16pt;
}

#purchase a {
    color: white;
    padding: 15px;
}

.clear {
    clear: both;
}

#reviews {
    clear: both;
}

#reviews p {
    margin: 0;
    padding: 10px 0 10px 0;
    font-style: italic;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #330033;
}

#reviews p:last-of-type {
    border: none;
}

@media screen and (max-width: 70em) {
    
    #cover {
        margin-left: 0;
        margin-bottom: 20px;
        width: 50%;
        float: left;
    }
    
    #purchase {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    
    #peek {
        display: none;
    }
    
    #gallery {
        display: none;
    }
    
    
    #description, #reviews {
        font-size: 14pt;
    }
    
    #description, #details {
        padding-left: 15px;
    }
    
}