* {
    box-sizing: border-box;
    font-family: helvetica, sans-serif;
}

body {
    background-color: #330033;
}

#container1, #container2, #container3 {
    border-radius: 25px;
}

#container1 {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#container2 {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffe5ff;
    width: 85%;
    height: auto;
    padding: 20px;
}

#container2 #content {
    margin: 20px;
}

#container3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    font-size: 9pt;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #330033;
    background-color: #660066;
    color: white;
    width: 85%;
    clear: both;
}

#title {
    background-color: #330033;
    color: white;
    margin: 20px 0 10px 0;
    padding: 10px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
    padding-left: 0;
    background-color: #660066;
    border-radius: 25px;
}

nav ul li:first-of-type {
    border-left: none;
}

nav ul li {
    display: inline-block;
    font-size: 15pt;
    margin-left: 25px;
    transition: #4c004c 0.5 ease;
}

nav ul li:hover {
    background-color: #4c004c;
    transition: 0.3s ease;
}

nav ul li a:hover {
    opacity: 0.8;
    transition: 0.3s ease;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}

#filler {
    height: 15px;
    background-color: #330033;
}


a {
    text-decoration: none;
}

#return {
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    text-decoration: none;
    margin: 15px;
    font-size: 10pt;
}

#return2 {
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 5px;
    font-size: 30pt;
    display: none;
}

img {
    border-radius: 15px;
}

a {
    color: black;
}

img:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

#return:hover, #retun2:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

#menu, #menu ul li:hover {
    transition: 0.5s ease;
}

@media screen and (max-width: 75em) {
    
    nav ul li {
        margin-left: 0;
        font-size: 20pt;
        display: block;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: white;
    }
    
    nav ul li:last-of-type {
        border: none;
    }
    
    #return {
        display: none;
    }
    
    #return2 {
        display: block;
    }
    
}