#title2 {
    margin: 0;
}

.upcontainer {
    width: 100%;
    height: auto;
}

.upcontainer #work {
    width: 100%;
    margin-bottom: 15px;
}

.upcontainer #illustration {
    width: 25%;
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    box-shadow: -8px 8px 8px grey;
}

.upcontainer #chapter1 {
    font-size: 18pt;
}

.upcontainer #readmore {
    font-size: 16pt;
    font-weight: bold;
}

.upcontainer #readmore:hover {
    color: #660066;
}

.illustrations {
    height: 75px;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
    box-shadow: 0 0 0 5px #C0C0C0 inset;
}

.illustrations:hover {
    opacity: 0.5;
}

.fullsizeillustration {
    padding: 15px;
}

.clear {
    clear: both;
}

#downcontainer {
    width: 100%;
    height: auto;
}

#poetrytitle {
    font-size: 20pt;
    margin: 15px 0 0 0;
}

#floatleft {
    float: left;
    width: 15%;
    height: auto;
}

#filter {
    padding: 15px 0 15px;
    color: black;
    font-size: 15pt;
    margin: 0;
}

#menu {
    width: 95%;
}

.poetry {
    display: inline-block;
    width: 85%;
}

pre {
    margin-bottom: 0;
}

#poem1, #poem2 {
    display: inline-block;
    width: 48%;
    margin-left: 15px;
    float: left;
}

@media screen and (max-width: 76em) {
    
    #illustrations {
        clear: both;
    }
    
    .upcontainer #illustration {
        width: 17%;
    }
    
    #floatleft {
        float: none;
        width: 100%;
    }
    
    #poetrytitle {
        margin-bottom: 15px;
    }
    
    #filter {
        display: none;
    }
    
    #menu {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
    
    #menu ul {
        width: 100%;
    }
    
    #menu ul li {
        text-align: center;
    }
    
    .poemtitle {
        margin: 0;
        font-size: 20pt;
    }
    
    pre {
        white-space: pre-wrap;
    }
    
    .poetry {
        width: 100%;
    }
    
    #poem1 {
        margin: 0;
        display: block;
        width: 50%;
    }
    
    #poem2 {
        float: right;
        display: block;
        width: 45%;
    }
}

@media screen and (max-width: 64em) {
    
    .upcontainer #illustration {
        display: inline;
        width: 50%;
        margin-left: 0;
        margin-bottom: 15px;
    }
    
    .upcontainer p {
        font-size: 14pt;
    }
    
    .upcontainer span {
        display: none;
    }
    
    #illustrations {
        display: none;
    }
    
    hr:nth-of-type(2) {
        display: none;
    }
    
    #poem1, #poem2 {
        float: none;
        display: block;
        width: 100%;
        font-size: 14pt;
        margin-left: 0;
    }
}

@media screen and (max-width: 30em) {
    .upcontainer #illustration {
        width: 100%;
    }
}